<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
        <h1>Bienvenido a la Tienda</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/realtimeproducts">Productos en Tiempo Real</a>
            <a href="/products">Ver Productos</a>
        </nav>
    </header>
    <main>
        <h2>Productos</h2>
        <div class="product-list">
            {{#if products.length}}
                {{#each products}}
                    <div class="product">
                        <h3>{{this.title}}</h3>
                        <p>{{this.description}}</p>
                        <p>Precio: ${{this.price}}</p>
                        <p>Stock: {{this.stock}}</p>
                        <a href="/api/products/{{this._id}}">Ver Detalles</a>
                    </div>
                {{/each}}
            {{else}}
                <p>No hay productos disponibles.</p>
            {{/if}}
        </div>
        <div class="pagination">
            {{#if hasPrevPage}}
                <a href="?page={{prevPage}}&limit={{limit}}">Anterior</a>
            {{/if}}
            {{#if hasNextPage}}
                <a href="?page={{nextPage}}&limit={{limit}}">Siguiente</a>
            {{/if}}
        </div>
    </main>
    <footer>
        <p>&copy; Jose Alejandro Palacios</p>
    </footer>
</body>
</html>